{% extends "base.html" %}

{% block content %}
    <h1 >Tags
        <a class="btn btn-primary float-right" href="{% url 'todo:tag_create' %}" >Add</a>
    </h1>

    <br>
    <table class="table">
        <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
        {% for tag in tag_list %}
            <p>
              <tr>
                <h3><td>{{ tag.name }}</td></h3>
                <td><a href="{% url 'todo:tag_update' pk=tag.id %}"
                   class="manage-task-tags">Update</a></td>
                <td><a href="{% url 'todo:tag_delete' pk=tag.id %}"
                   class="manage-task-tags">Delete</a></td>
              </tr>

        {% endfor %}
    </table>

{% endblock %}